/actuaryidaho.csv
/actuarynew york.csv
/firefighter.csv
/firefightercolorado.csv
/firefighteridaho.csv
/jobsearch.csv
/lawyeridaho falls.csv
/leatheridaho.csv
/softwarenew york.csv
/video gamesflorida.csv
/video gamesidaho.csv
/webscrapper
/{position}.csv